services:
  # Django Backend Service
  - type: web
    name: cepv-backend
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: "./build.sh"
    startCommand: "gunicorn config.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.12
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        value: .onrender.com,api.raappo.cf
      - key: CORS_ALLOWED_ORIGINS
        value: https://cepv.raappo.cf

databases:
  # PostgreSQL Database
  - name: cepv-db
    databaseName: cepv
    user: cepv
    plan: free
    region: oregon